
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -1px;

	font-family: 'Open Sans';
	font-weight: normal;
	color: black;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 380%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: lightgrey;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1200px;
	margin: 0px auto;
}

/* Logo */


#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	font-size: 3.8em;
	color: #323030;
}

#logo h1 span {
	color: lightgrey;
}

#logo p {
	margin: 0px;
	padding: 0px;

	font-family: 'Verdana', sans-serif;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}


.open-button {
	background-color: darkblue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-left: 20px;
	margin-top:20px;
	opacity: 0.8;
	border-radius: 8px;
	width: 140px;
}

.open-button2 {
	background-color: darkblue;
	color: white;
	width: 35px;
	height: 35px;
	padding: 0px;
	border: none;
	cursor: pointer;
	text-align:center;
	margin-right: 10px;
	margin-top:20px;
	opacity: 0.8;
	border-radius: 8px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 20%;
	right: 30%;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
	z-index: 9;
}
.operation{
	border: 0px solid;
	background-color: #FAFAFA;
	color: #323030;
	font-family: 'Open Sans';
}

.operation_check{
	border: 0px solid;
	background-color: #c7c7cb;
	border-radius: 5px;
	font-family: 'Open Sans';
	;
}
/* Add styles to the form container */
.form-container {
	max-width: 500px;
	padding: 45px;
	background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 85%;
	padding: 16px 1px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	border-radius: 8px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	border-radius: 8px;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: darkblue;
	border-radius: 8px;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	/* background-color: darkblue;
	border-radius: 8px; */
	background-color: #484848;
	border-radius: 8px;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-left: 10%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover,.open-button2:hover {
	opacity: 1;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 160px;
	outline: none;
	background: #EBEBEB;
	border: 1px solid #EBEBEB;
	padding: 10px;
	border-radius: 8px;
	color: black;

}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
	background: #484848;
	border-top: 1px solid #3D2729;
}

#menu {
	width: 1200px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Verdana', serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: lightgrey;
	border-radius: 8px;
	text-decoration: none;
	color: black;
}

#menu .current_page_item a {
	background: #EBEBEB;
	border-radius: 8px;
}

/* Page */

#page {
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 70%;
}
.task{

}
.post {
	margin-bottom: 30px;
	padding: 30px 40px;
	/* border: 1px solid #E7DFD7; */
	border-radius: 8px;
	background: #FAFAFA;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: darkblue;
}

.post .meta {
	margin-bottom: 21.5px;
	padding: 5px 0px 10px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .task {
	border-style: solid;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	border-color: #EBEBEB;
	float: left;
	text-emphasis-position: left;
	margin-bottom: 5px;
	width: 70%;
}

.post .meta .task_time {
	border-style: solid;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	border-color: #EBEBEB;
	text-align: center;
	float: right;
	width: 20%;
	margin-bottom: 5px;

}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

/* .button
{
	padding: 10px 25px;
	background: #107710;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
} */

/* Sidebar */

#sidebar2
{
	float: right;
	width: 250px;
	padding: 40px 30px 0px 30px;
	border: 1px solid #E7DFD7;
	border-radius: 8px;
	background: #F8F8F8;
}

#sidebar {
	float: left;
	width: 20%;
	margin-right: 30px;
	padding: 40px 30px 0px 30px;
	color: #787878;
	/* border: 1px solid #E7DFD7; */
	border-radius: 8px;
	background: #FAFAFA;
}

#sidebar ul, #sidebar2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li, #sidebar2 li {
	margin: 0;
	padding: 0;
}

#sidebar li ul, #sidebar2 li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li, #sidebar2 li li {
	border-bottom: 1px solid #EBEBEB;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

#sidebar li li a, #sidebar2 li li a {
	color: #3B3B3B;
}

#sidebar li li span, #sidebar2 li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-family: verdana;
}

#sidebar h2, #sidebar2 h2 {
	padding-bottom: 20px;
	font-size: 1.6em;
	color: darkblue;
}

#sidebar p, #sidebar2 p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a, #sidebar2 a {
	border: none;
}

#sidebar a:hover, #sidebar2 a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #F8F8F8;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #3B3B3B;
}

#footer a {
	color: black;
}

#banner {
	width: 1200px;
	margin: 40px auto 0px auto;
}

#banner img
{
	border-radius: 8px;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


#calendar-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2.5em 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: inherit;
}

#calendar-wrapper header {
    grid-row: 1/2;
    font-size: 2em;
    box-sizing: inherit;
}

#calendar-wrapper header h4 {
    padding: 0;
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 3em 1fr;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#calendar #calendar-days,
#calendar #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0 1em;
    box-sizing: inherit;
    margin: 0;
}

#calendar #calendar-days {
    justify-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

#calendar #calendar-grid {
    grid-template-rows: repeat(6, 1fr);
    justify-items: flex-start;
    grid-row: 2/-1;
    grid-column: 1/2;
    width: 100%;
}

#calendar #calendar-grid > time {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em 0.2em;
    width: 90%;
    background-color: rgba(108, 108, 108, 0.02);
    border-radius: 3px;
    border: 2px solid transparent;
    transition: box-shadow 200ms, border 100ms;
    box-shadow: 1px 1px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}

#calendar #calendar-grid time.selected,
#calendar #calendar-grid time.selected:focus {
    outline: none;
    border: 2px solid #c64949;
    box-sizing: inherit;
}

#calendar #calendar-grid time.disabled,
#calendar #calendar-grid time.disabled:focus {
    outline: none;
    border: 2px solid transparent;
    box-sizing: inherit;
    cursor: not-allowed;
    background-color: rgba(30, 39, 51, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0);

}

#calendar #calendar-grid > *:hover {
    border: 2px solid rgba(72, 72, 72, 0.5);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}

#calendar #navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2/-1;
    grid-column: 2/-1;
    box-sizing: inherit;
    padding: 1em 0 3.5em;
    margin: 0;
}

#calendar #navigation-wrapper button {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 3em;
    width: 1.6em;
    box-sizing: inherit;
    padding: 0.1em;
    margin: 0;
}

#calendar #navigation-wrapper button:hover {
    opacity: 0.75;
}


#calendar #navigation-wrapper button svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.6em;
    display: block;
    box-sizing: inherit;
}

#calendar #navigation-wrapper button:first-of-type {
    transform: rotate(180deg);
}
